# Application Configuration
APP_NAME="Ruang Warga 021"
APP_ENV=local
# Kunci enkripsi NIK/No HP (minimal 32 karakter acak)
APP_KEY="SistemInformasiRW21-RahasiaSuper"

# Database Configuration (MySQL / MariaDB)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=rw021
DB_CHARSET=utf8mb4
DB_USER=root
DB_PASS=